.bgimage {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

@media screen and (max-width: 425px) {
  .form {
    font-size: 12px !important;
  }
  .control {
    font-size: 10px !important;
  }
}
